.env
outputs/
__pycache__/
*.pyc
.jupyter/
.DS_Store
.matplotlib_cache/
iemocap_export/
outputs/
iemocap/
reports/
reports_vie/
results/**
!results/
!results/**/
!results/**/summary.ipynb
data/
output/
correct_result/**
*.pth
*.wandb
wandb/
**/wandb/
